* {
  margin: 0;
  padding: 0;
}
.main {
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: rgb(233, 248, 248);
}

#one {
  color: rgb(136, 156, 139);
  font-size: 3rem;
  text-transform: uppercase;
  box-shadow: 10px 10px 5px rgb(1, 69, 92);
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
}
#two {
  color: rgb(47, 22, 112);
  font-size: 2rem;
  text-transform: uppercase;
}
#main {
  color: rgb(5, 73, 16);
  font-size: 1rem;
  text-transform: uppercase;
}

ul li {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
}
.mdnlink {
  text-decoration: none;
}
.web-development {
  text-decoration: none;
}
.powers-css {
  text-decoration: none;
}
.JavaScript-line {
  text-decoration: none;
}
.main-class li:nth-child(even) {
  color: red;
}
.main-tag li:nth-child(odd) {
  color: blue;
}
.navigation a:hover {
  font-size: 1rem;
  background-color: black;
  color: white;
}
.navigation a:active {
  color: rgb(124, 8, 14);
}
.navigation {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
}
p {
  line-height: 1.5;
}
.img {
  width: 500px;
  height: 250px;
}
.form {
  background: rgb(6, 201, 201);
  margin: 2rem auto;
  color: rgb(248, 244, 255);
  margin: 50% auto;

  padding: 10px;
  text-align: center;
  width: 50%;
}
.submit {
  padding: 8px;
  color: white;
  background-color: black;
  border-radius: 5px;
}
.form h5 {
  font-size: 40px;
  margin-bottom: 5px;
  text-transform: capitalize;
}
